Package:oh-my-termux 
Version: 1.0.3
Architecture: aarch64
Maintainer: syomie <lian1581@qq.com>
Installed-Size: 2464
Section: utils 
Priority: optional
Depends: git,zsh,tree,openssh,perl,vim
Replaces:
Homepage:https://github.com/syomie/ohmytermux 
Description: termux 配置修改包
 自用分享的termux配置修改包
